<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>v-if条件渲染</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <link rel="stylesheet" href="">
</head>
<body>
<div id="app">
<div>
    <!--{{fullName}}-->
   <!--<div v-if="show">{{age}}</div>-->
    <!--<div v-show="show">{{age}}</div>-->
    <div v-if="show==='a'">{{firstName}} this is firstName</div>
    <div v-else-if="show==='b'">{{lastName}} this is lastName</div>
    <div v-else="show==='c'">等待揭晓 this is other.</div>
</div>
</div>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            firstName: "Xuan Ming",
            lastName: "Song",
            show: false,
            age:18
        }
    });
</script>
</body>
</html>